.layout {
    display: flex;
    min-height: 100vh;
}

.content {
    flex: 1;
    padding: 24px;
    max-width: 1240px;
}

.paragraph {
    margin: 0;
}

@media screen and (max-width: 1280px){
    .layout {
        flex-direction: column;
    }
    .content {
        max-width: 100%;
    }
}
