.dialog {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  margin: auto;
  max-width: 736px;
  max-height: calc(100% - 24px * 2);
  background: #f7f7f7;
  border-radius: 20px;

  @include mobile {
    height: 100%;
    max-width: none;
    max-height: none;
    border-radius: 0;
  }

  &-root {
    position: fixed;
    z-index: 9000;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include mobile {
      padding: 0;
    }
  }

  &-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(218, 218, 218, .72);

    &:focus {
      outline: none;
    }
  }

  &-close {
    display: inline-flex;
    position: absolute;
    left: 6px;
    top: 6px;
    padding: 12px;
    border-radius: 20px;
    border: none;
    background: none;
    cursor: pointer;
    outline: none;

    &:focus {
      box-shadow: 0 0 0 3px var(--color-outline);
    }
  }

  > form {
    display: contents;
  }
}
