.tag {
  position: relative;
  display: inline-flex;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.2;
  border-radius: 5px;
  padding: 5px 15px;
  color: var(--color-white);
  background: var(--color-secondary);
  white-space: nowrap;

  &-action {
    padding-left: 29px;

    button {
      position: absolute;
      left: 0;
      top: 0;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      color: inherit;
      width: 24px;
      height: 24px;
      padding: 0;
      cursor: pointer;
      border: none;
      box-shadow: none;
      outline: none;
      background: none;
      border-radius: 5px 0 0 5px;

      &:hover {
        background: #3FADFF;
      }
    }

    svg {
      width: 16px;
      height: 16px;
      fill: currentColor;
    }
  }

  + .tag {
    margin-left: 6px;
  }
}
