$spectrum: 'warning', 'primary', 'secondary';

$main-color-names: (
  warning: '--color-error',
  primary: '--color-primary',
  secondary: '--color-secondary',
);

$hover-colors: (
  warning: #E55D5D,
  primary: #2ecf80,
  secondary: #3FADFF,
);

$active-colors: (
  warning: #BC3434,
  primary: #05a657,
  secondary: #1684D6,
);

.tag {
  position: relative;
  display: inline-flex;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.2;
  border-radius: 5px;
  padding: 5px 15px;
  white-space: nowrap;
  overflow: hidden;

  @each $color in $spectrum {
    &.-#{$color} {
      color: var(--color-white);
      background-color: var(#{map-get($main-color-names, $color)});
      
      &.tag-action {
        button {
          &:not(:disabled):hover {
            background-color: map-get($hover-colors, $color);
          }
  
          &:not(:disabled):active {
            background-color: map-get($active-colors, $color);
          }
        }
      }
    }
  }

  &-action {
    padding-left: 29px;

    button {
      position: absolute;
      left: 0;
      top: 0;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      color: inherit;
      width: 24px;
      height: 24px;
      padding: 0;
      cursor: pointer;
      border: none;
      box-shadow: none;
      outline: none;
      background: none;
    }

    svg {
      width: 16px;
      height: 16px;
      fill: currentColor;
    }
  }
}
