.formRow {
  margin-bottom: 24px;

  &.-asList {
    margin-bottom: 8px;
  }

  &.-split {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-gap: 32px;

    @include mobile {
      grid-template-columns: 1fr;
      grid-template-rows: 0.5fr 0.5fr;
      grid-gap: 16px;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}
