.dropdown {
  display: inline-flex;
  position: relative;

  &.-open &-menu {
    visibility: visible;
    opacity: 1;
    transform: translateY(6px) scaleY(1);
  }

  &.-open &-rotate svg {
    transform: rotateZ(180deg);
  }

  &-menu {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 100%;
    padding: 16px 0;
    background: var(--color-white);
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 8%);
    border-radius: 12px;
    width: 260px;
    transform: translateY(2px) scaleY(0.95);
    transition: .15s all ease-in-out;
    z-index: 1000;

    &.-right {
      left: auto;
      right: 0;
    }

    &.-center {
      left: 50%;
      margin-left: -130px;
    }
  }

  &-rotate {
    display: contents;

    svg {
      will-change: transform;
      transition: .2s all ease-out;
    }
  }
}
