.tooltip {
  z-index: 1;
  
  &-trigger {
    position: relative;
    display: inline-block;
    width: fit-content;
  }

  &-message {
    min-width: 350px;
    max-width: 350px;
    transition: all 0.1s linear;

    &.-custom-width {
      min-width: max-content;
      max-width: auto;
    }
  }

  &-content {
    background: var(--color-black);
    color: var(--color-white);
    font-size: 14px;
    line-height: 1.2;
    border-radius: 12px;
    margin: auto;
    padding: 24px;
  }
}
