.grid {
  @include mobile {
    padding: 0 2px 2px;
  }

  &-layout {
    position: relative;
    display: flex;
    align-items: center;
    @include mobile {
      padding-top: 48px;
      flex-direction: column;
      align-items: stretch;
    }
  }

  &-rows {
    margin: -16px;
    flex: 1;
    display: flex;
    flex-direction: column;
    @include mobile {
      margin: 0;
    }
  }

  &-icon {
    margin-right: 32px;
    display: inline-flex;
    align-items: flex-start;
    @include mobile {
      position: absolute;
      top: 8px;
      left: 12px;
    }

    &.-top {
      align-self: flex-start;
      position: relative;
      top: -12px;
    }

    picture, img, svg {
      width: 80px;
      height: auto;
      vertical-align: top;
      @include mobile {
        width: 32px;
      }
    }
  }

  &-action {
    margin-left: 32px;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include mobile {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
    }

    &.-top {
      align-self: flex-start;
      position: relative;
      top: -12px;
    }
  }

  &-notification {
    &:not(:empty) {
      margin-top: 24px;
      @include mobile {
        margin-top: 2px;
      }
    }
  }

  .label {
    @include mobile {
      width: 30%;
      margin-bottom: 0;
      margin-right: 8px;
      flex-shrink: 0;
    }
  }

  .banner {
    @include mobile {
      margin-left: -2px;
      margin-right: -2px;
      margin-bottom: -2px;
      border-radius: 0 0 24px 24px;
    }
  }
}
