.cardMask {
  display: inline-flex;
  align-items: center;
  font-family: "Courier", "Courier New", "Montserrat", "Helvetica Neue", sans-serif;
  font-weight: bold;

  span {
    margin-right: 10px;
  }
}
