.palette {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 180px));
  column-gap: 32px;
  row-gap: 32px;
}

.palette:not(:last-child) {
  margin-bottom: 64px;
}

.paletteCell {
  border-radius: 20px;
  height: 100px;
  overflow: hidden;
}

.paletteColor {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paletteText {
  margin-top: 6px;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
}

.paletteGradients {
  grid-template-columns: 1fr 1fr;
}

.paletteGradients .paletteCell {
  display: flex;
}

.paletteGradients .paletteColor {
  width: 160px;
}

.paletteGradient {
  position: relative;
  flex: 1;
  min-width: 300px;
}

.paletteGradientColor {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.paletteGradientColor:first-child {
  left: 48px;
}

.paletteGradientColor:last-child {
  right: 48px;
}

@media screen and (max-width: 1024px) {
  .paletteGradients {
    grid-template-columns: 1fr;
    overflow: scroll;
  }
}
