@use "sass:map";

$buttonHoverBoxShadow: (
  primary: 0px 2px 4px rgba(0, 147, 61, 0.32),
  secondary: 0px 2px 4px rgba(0, 101, 207, 0.32),
  warning: 0px 2px 4px rgba(206, 46, 46, 0.32),
  contrast: 0px 2px 4px rgba(0, 0, 0, 0.32),
);

.button {
  position: relative;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  padding: 0 32px;
  height: 48px;
  min-width: 100px;
  justify-content: center;
  font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  border: none;
  border-radius: 10px;
  box-shadow: none;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  outline: none;
  transition: .1s all ease-in-out;

  &:focus {
    box-shadow: 0 0 0 3px var(--color-outline);
  }

  &.-wide {
    width: 100%;
  }

  &[disabled] {
    cursor: default;
  }

  // sizes

  &.-medium {
    height: 40px;
    padding: 0 24px;
    font-size: 14px;
  }

  &.-small {
    height: 32px;
    padding: 0 24px;
    font-size: 14px;
  }

  // primary

  &.-primary {
    color: var(--color-white);
    background-color: var(--color-primary);
  }

  &.-primary:not(:disabled):hover {
    background-color: #2ecf80;
    box-shadow: map.get($buttonHoverBoxShadow, 'primary');
  }

  &.-primary:not(:disabled):active {
    background-color: #05a657;
  }

  &.-primary[disabled]:not(.-loading) {
    background-color: var(--color-black-16);
  }

  // primary outline

  &.-primary.-outline {
    color: var(--color-black);
    background-color: transparent;
    border: 2px solid var(--color-black-08);
  }

  &.-primary.-outline:not(:disabled):hover {
    background-color: transparent;
    border: 2px solid var(--color-black);
    box-shadow: none;
  }

  &.-primary.-outline:not(:disabled):active {
    color: var(--color-white);
    background-color: var(--color-black);
  }

  &.-primary.-outline[disabled]:not(.-loading) {
    color: var(--color-black-08);
    background-color: transparent;
    border: 2px solid var(--color-black-08);
  }

  // secondary

  &.-secondary {
    color: var(--color-white);
    background-color: var(--color-secondary);
  }

  &.-secondary:not(:disabled):hover {
    background-color: #3FADFF;
    box-shadow: map.get($buttonHoverBoxShadow, 'secondary');
  }

  &.-secondary:not(:disabled):active {
    background-color: #1684D6;
  }

  &.-secondary[disabled]:not(.-loading) {
    background-color: var(--color-black-16);
  }

  // secondary outline

  &.-secondary.-outline {
    color: var(--color-secondary);
    background-color: transparent;
    border: 2px solid var(--color-secondary);
  }

  &.-secondary.-outline:not(:disabled):hover {
    background: var(--color-secondary);
    color: var(--color-white);
    border: 2px solid var(--color-secondary);
    box-shadow: map.get($buttonHoverBoxShadow, 'secondary');
  }

  &.-secondary.-outline:not(:disabled):active {
    background-color: #1684D6;
    border: 2px solid #1684D6;
  }

  &.-secondary.-outline[disabled]:not(.-loading) {
    color: var(--color-black-08);
    background-color: transparent;
    border: 2px solid var(--color-black-08);
  }

  // warning

  &.-warning {
    color: var(--color-white);
    background-color: var(--color-error);
  }

  &.-warning:not(:disabled):hover {
    background-color: #E55D5D;
    box-shadow: map.get($buttonHoverBoxShadow, 'warning');
  }

  &.-warning:not(:disabled):active {
    background-color: #BC3434;
  }

  &.-warning[disabled]:not(.-loading) {
    background-color: var(--color-black-16);
  }

  // warning outline

  &.-warning.-outline {
    color: var(--color-error);
    background-color: transparent;
    border: 2px solid var(--color-error);
  }

  &.-warning.-outline:not(:disabled):hover {
    background: var(--color-error);
    color: var(--color-white);
    border: 2px solid var(--color-error);
    box-shadow: map.get($buttonHoverBoxShadow, 'warning');
  }

  &.-warning.-outline:not(:disabled):active {
    background-color: #BC3434;
    border: 2px solid #BC3434;
  }

  &.-warning.-outline[disabled]:not(.-loading) {
    color: var(--color-black-08);
    background-color: transparent;
    border: 2px solid var(--color-black-08);
  }

  // contrast

  &.-contrast {
    color: var(--color-white);
    background-color: var(--color-black);
  }

  &.-contrast:not(:disabled):hover {
    background-color: #3D3D3D;
    box-shadow: map.get($buttonHoverBoxShadow, 'contrast');
  }

  &.-contrast:not(:disabled):active {
    background-color: var(--color-black);
  }

  &.-contrast[disabled]:not(.-loading) {
    background-color: var(--color-black-16);
  }

  // contrast outline

  &.-contrast.-outline {
    color: var(--color-black);
    background-color: transparent;
    border: 2px solid var(--color-black);
  }

  &.-contrast.-outline:not(:disabled):hover {
    background: #3D3D3D;
    color: var(--color-white);
    border: 2px solid #3D3D3D;
    box-shadow: map.get($buttonHoverBoxShadow, 'contrast');
  }

  &.-contrast.-outline:not(:disabled):active {
    background-color: var(--color-black);
    border: 2px solid var(--color-black);
  }

  &.-contrast.-outline[disabled]:not(.-loading) {
    color: var(--color-black-08);
    background-color: transparent;
    border: 2px solid var(--color-black-08);
  }

  &-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: button-loading linear infinite 1s;
    fill: currentColor;
  }

  // transparent

  &.-transparent {
    background: none;

    &:not(:disabled):hover {
      background: var(--color-black-04);
    }
  }

  // icons

  &-icon {
    &.-left {
      margin-right: 8px;
      margin-left: -8px;
    }

    &.-right {
      margin-left: 8px;
      margin-right: -8px;
    }
  }

  &.-asLink {
    padding: 0;
    min-width: auto;
    font-size: 14px;
    display: inline-flex;
    font-weight: normal;
    background: none !important;
    border: none !important;
    color: var(--color-secondary);

    &:focus {
      box-shadow: none;
    }
  }

  &.-icon {
    min-width: auto;
    width: 48px;
    height: 48px;
    padding: 0;
    border-radius: 50%;
  }

  &.-loading {
    .button {
      &-content {
        color: transparent;
      }

      &-icon svg {
        fill: transparent;
      }
    }
  }

  svg {
    fill: currentColor;
    vertical-align: top;
  }
}

@keyframes button-loading {
  from {
    transform: translate(-50%, -50%) rotate(0);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
