@mixin mobile {
  @media only screen and (max-width: 1023px) {
    @content;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import './Normalize/Normalize.scss';
@import './Breadcrumbs/Breadcrumbs.scss';
@import './Badge/Badge.scss';
@import './Banner/Banner.scss';
@import './Button/Button.scss';
@import './Colors/Colors.scss';
@import './Checkbox/Checkbox.scss';
@import './FormRow/FormRow.scss';
@import './Input/Input.scss';
@import './Loader/Loader.scss';
@import './Hint/Hint.scss';
@import './Panel/Panel.scss';
@import './Select/Select.scss';
@import './Typography/Typography.scss';

.rotation {
  animation: rotation 5s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
