.hint{
    display: block;
    position: relative;
    padding: 4px 0 0 8px;
    left: 0;
    right: 0;
    font-size: 12px;
    line-height: 1.2;
    text-align: left;
    transition: all .2s ease-in-out;
}
.hint.-large {
    font-size: 14px;
}

.hint.-error {
    color: red;
}

.hint a {
    text-decoration: underline
}

.hint a:hover {
    text-decoration: none
}