.hint{
    display: block;
    font-size: 12px;
    line-height: 1.6;
    text-align: left;
    transition: all .2s ease-in-out;
    &.-large {
        font-size: 14px;
    }
    &.-error {
        color: var(--color-error);
    }
    a {
        text-decoration: underline;
        &:hover {
            text-decoration: none
        }
    }
}
