.dialogActions {
  padding: 24px;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @include mobile {
    flex-direction: column;
  }

  .button {
    flex-shrink: 0;

    @include mobile {
      width: 100%;
    }

    &:not(:last-child) {
      margin-right: 16px;

      @include mobile {
        margin-right: 0;
        margin-bottom: 16px;
      }
    }

    &.-asLink {
      margin-right: auto;
      font-size: 16px;
      font-weight: 600;
    }
  }

  .hint {
    margin-right: auto;
    padding-right: 32px;
    color: var(--color-black-64);

    @include mobile {
      max-width: 100%;
      margin-bottom: 16px;
      text-align: center;
    }
  }
}
