.input {
  display: block;
  font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
  font-size: 14px;
}

.input input {
  width: 100%;
  padding: 14px 18px;
  border-radius: 8px;
  line-height: 1.2;
  border: 2px solid rgba(111,114,121, .16);
  background: var(--color-white);
  transition: border-color 200ms cubic-bezier(0.25,0.1,0.25,1);
}

.input input:hover, .input.-hover input {
  border-color: var(--color-black)
}

.input input::placeholder {
  color: rgba(#333, 0.32);
}

.input input:focus, .input.-focus input {
  outline: none;
  border-color: var(--color-secondary);
}
  
.input.-big input {
  padding: 10px 16px 110px
}

.input.-medium input {
  padding: 10px 15px;
}

.input.-small input {
  padding: 7px 14px;
  font-size: 12px;
}
    
.input.-link-right input {
  padding: 0 62px 0 18px;
}
    
.input input[disabled] {
  background: var(--color-black-04);
  border-color: transparent;
}

.input.-error input, 
.input.-error .select-box, 
.input.-error textarea {
  border-color: red;
}