.input {
  display: block;
  font-size: 14px;
  text-align: left;

  &.-medium {
    input {
      padding: 8px 15px 9px;
    }

    .button {
      height: 40px;
    }
  }

  &.-small {
    input {
      padding: 7px 14px;
      font-size: 12px;
    }

    .button {
      height: 32px;
    }
  }

  &.-error input,
  &.-error .select-box,
  &.-error textarea {
    border-color: red;
  }

  &-field {
    display: block;
    position: relative;
  }

  &-action {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 18px;
  }

  &-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    line-height: 1;
  }

  &-currency {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 18px;
  }

  &-label {
    display: block;
  }

  input, textarea {
    width: 100%;
    padding: 12px 18px 13px;
    border-radius: 8px;
    font-size: 16px;
    font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
    line-height: 1.2;
    border: 2px solid rgba(111, 114, 121, .16);
    background: var(--color-white);
    transition: border-color 200ms cubic-bezier(0.25, 0.1, 0.25, 1);

    &:hover {
      border-color: var(--color-black)
    }

    &::placeholder {
      color: rgba(#333, 0.32);
    }

    &:focus {
      outline: none;
      border-color: var(--color-secondary);
    }

    &[disabled] {
      background: var(--color-black-04);
      border-color: transparent;
      cursor: not-allowed;

      + .input-currency {
        color: var(--color-black-32);
      }
    }
  }

  input {
    &.-with-action {
      padding-right: 90px;
    }

    &.-with-currency {
      padding-right: 60px;
    }

    &.-with-icon {
      padding-left: 44px;
    }
  }

  textarea {
    resize: none;
    vertical-align: top;
  }
}
