name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  install:
    name: Install
    runs-on: ubuntu-latest
    continue-on-error: false
    steps:
      - name: Checkout    
        uses: actions/checkout@v2

      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: '16.x'
          registry-url: 'https://registry.npmjs.org'
          cache: 'npm'
       
      - name: Install dependencies
        run: npm i
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Pack artifact
        run: tar czf /tmp/artifact.tar.gz .

      - name: Upload artifact
        uses: actions/upload-artifact@v2
        with:
          name: ui-kit-artifact
          path: /tmp/artifact.tar.gz
          retention-days: 1

  eslint:
    name: Eslint
    runs-on: ubuntu-latest
    needs: [install]
    continue-on-error: false
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v2
        with:
          name: ui-kit-artifact
      
      - name: Unpack artifact
        run: tar xf artifact.tar.gz

      - name: Run eslint
        run: npm run lint

  typescript:
    name: Typescript
    runs-on: ubuntu-latest
    needs: [install]
    continue-on-error: false
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v2
        with:
          name: ui-kit-artifact

      - name: Unpack artifact
        run: tar xf artifact.tar.gz
          
      - name: Run typescript compile
        run: yarn tsc --noEmit

  build:
    name: Build
    runs-on: ubuntu-latest
    needs: [install]
    continue-on-error: false
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v2
        with:
          name: ui-kit-artifact

      - name: Unpack artifact
        run: tar xf artifact.tar.gz

      - name: Build application
        run: npm run build
