$sizes: [4, 8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 96];

@each $size in $sizes {
  .mb-#{$size} {
    margin-bottom: #{$size}px;
  }
}

.wrapper {
  max-width: 1152px;
  min-height: 100vh;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}
